@using ToDoList.Domain.Enum
@{
    ViewData["Title"] = "Home Page";
}

<h4 class="mb-3 text-muted">Создание задачи</h4>
<form id="createTaskForm">
    <div class="mb-3">
        <label class="form-label">Название задачи</label>
        <input name="title" type="text" class="form-control"/>
    </div>

    <div class="mb-3">
        <label class="form-label">Приоритет задачи</label>
        <select name="priority" class="form-select mb-3" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    </div>

    <div class="mb-3">
        <label class="form-label">Описание задачи</label>
        <textarea name="description" type="text" class="form-control" rows="3"></textarea>
    </div>

    <button id="createTask" class="btn btn-primary">Создать</button>
</form>
<br>
<br>
<br>
<table class="table table-dark table-hover" id="taskTableId">
    <thead>
            <tr>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Приоритет</th>
                <th>Готовность</th>
                <th>Действие</th>
            </tr>
        </thead>
    <tbody>

    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        let dataTable = $('#taskTableId').DataTable({
            info: true,
            serverSide: true,
            searching: false,
            paging: false,
            sorting: false,
            ajax: {
                url: '@Url.Action("TaskHendler")',
                method: 'POST',
                data: null
            },
            columns: [
                {data: 'title'},
                {data: 'description'},
                {data: 'priority'},
                {data: 'isDone'},
                {
                    data: null,
                    sortrable: false,
                    render: function(data, type) {
                      return '<button class="btn btn-success btn-sm center-block">Выполнить</button>'
                    }
                }
            ],
            createdRow: function (nRow, data) {
                for (var i = 0; i < dataTable.columns().header().length - 1; i++)
                {
                    $('td', nRow).eq(i).css('cursor', 'pointer');
                    
                    $('td', nRow).eq(i).on('click', null);
                }
                $('td button', nRow).eq(i).on('click', null);

            }
        });
        
        $('#createTask').on('click', function (e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Task")',
                data: $('#createTaskForm').serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей'
                    })
                },
                error: function (response) {
                     Swal.fire({
                        title: 'Информация',
                        text: response.responseJSON.description,
                        icon: 'error',
                        confirmButtonText: 'Окей'
                     })
                }
            })
        });
    </script>
}